<p class="text-center home-lists">
  <a href="/movies">List of Movies</a>
</p>
<p class="text-center home-lists">
  <a href="/directors">List of Directors</a>
</p>
<p class="text-center home-lists">
  <a href="/actors">List of Actors</a>
</p>
